<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mpradha1-deployfromvs-stage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/214a7e62-cb5f-4bd7-b395-ef5dcbd4bc41/resourceGroups/radio2-dev-perfmgmt/providers/Microsoft.Web/sites/mpradha1-deployfromVS/slots/stage</ResourceId>
    <UserName>$mpradha1-deployfromVS__stage</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mpradha1-deployfromvs-stage.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>